<!--<app-calculator>                                                                                                                                                                                                               
</app-calculator>-->
<!--<app-customer>

</app-customer>-->
<!-- <app-user></app-user>  -->
<!-- <app-interest-calculation></app-interest-calculation> -->
<!-- <app-pipe-example></app-pipe-example> -->

<nav class="nav navbar bg-dark navbar-expand-sm">
    <ul class="navbar-nav ml-4">
        <li>
            <a class="btn btn-primary bg-transparent" routerLink="calculator" >
                Calculator
            </a>
        </li>
    </ul>
    <ul class="navbar-nav ml-4">
        <li>
            <a class="btn btn-primary bg-transparent" routerLink="customer">
                Customer
            </a>
        </li>
    </ul>
    <ul class="navbar-nav ml-4">
        <li>
            <a routerLink="employee" class="btn btn-primary bg-transparent">
                Employee
            </a>
        </li>
    </ul>
    <ul class="navbar-nav ml-4" >
        <li>
            <a routerLink="interest_calculation" class="btn btn-primary bg-transparent">
                Interest Calculation
            </a>
        </li>
    </ul>
    <ul class="navbar-nav ml-4">
        <li>
            <a class="btn btn-primary bg-transparent" routerLink="pipe-example">
                Pipe Example
            </a>
        </li>
    </ul>
    <ul class="navbar-nav ml-4">
        <li>
            <a class="btn btn-primary bg-transparent" routerLink="user">
               User
            </a>
        </li>
    </ul>
    <ul class="navbar-nav ml-4">
        <li>
            <a class="btn btn-primary bg-transparent" routerLink="book">
               Book
            </a>
        </li>
    </ul>
</nav>
<!-- <app-employee></app-employee> -->
<router-outlet></router-outlet>
